body {
    background-image: url('18.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat Black', sans-serif;
    color: white;
}

.content {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
    max-width: 700px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

h1, p {
    font-family: 'Montserrat Black', sans-serif;
    width: 100%;
    margin: 0;
}

p {
    text-align: justify;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

button {
    padding: 20px;
    font-size: 20px;
    width: 100%;
    max-width: 300px;
    height: auto; 
    margin-bottom: 10px;
    cursor: pointer;
    font-family: 'Montserrat Black', sans-serif;
    background-color: #546376;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: normal; 
    word-wrap: break-word; 
    line-height: 1.4; 
}

button:hover {
    background-color: #1e1e26;
}

@media only screen and (max-width: 600px) {
    button {
        max-width: none;
    }
}
